.pagearea{
    
    text-align: center;
    background: white;
}
.box{
    border: 2px solid black;
    font-size: 25px;
}
.ntype{
    font-weight: bold;
}
.n{
    font-weight: bold;
    font-size: 20px;
}
.ediv{
    font-size: 20px;
}
.aa{
    text-decoration: none;
    color: aqua;
    }

.darea{
    background-color: bisque;
    text-align: center;
}

.darea2{
    background-color:darkkhaki;
    font-size: 20px;
}


.aa:hover{
    background-color: cornflowerblue;
    }
#add{
    background-color: cadetblue;

}